doctype html
head
    link(href="/css/bootstrap.css", rel="stylesheet")
    link(href="/css/page.css", rel="stylesheet")
body
    .container-narrow
        .masthead
            ul.nav.nav-pills.pull-right
                li.active
                    a(href="#") Home
                li
                    a(href="#") About
                li
                    a(href="#") Contact
            h3.muted Thug Lyfe
        hr
        .jumbotron
            h1 Sup dawgs
            marquee
                p.lead This shit be poppin'
            a.btn.btn-large.btn-success(href="#") Sign up for our stuff today!